.header{
    height: 50px;
    width: 100%;
    flex-direction: row;
    // padding:0px 10px;
    display: flex; 
    border-radius: 10px 10px 0 0;
    align-items: center; 
    justify-content: space-between;
    span{
        font-weight: bold; 
        margin-left: 10px;
    } 
    .brandInfo{
        display: flex;
        align-items: center;
    }
    .closeIcon{
        height:12px;
        cursor: pointer;
        margin-right: 10px;
        transition: .2s ease-in-out;
        &:hover{
            opacity: .7;
        }
    }
}