.App { 
  display:flex;
  align-items:center;
  align-content:center;
  justify-content:left;  
  height:100vh; 
}

.otherUserBox{
  background:#f2f2f2;
  display:flex;
  align-items:center;
  align-content:center;
  text-align:center;
  width:30%;  
  padding:5px;
  height:100vh; 
  float:left;
}

.otherUserBox div{
  width:100%;
}

.otherUserBox .heading{
  color:#0099cc;
  font-weight:700px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.otherUserBox textarea{
  resize:none;
  outline:none;
  height:200px;
  width:90%;
  border-radius:10px;
  border:1px solid #cccccc;
  padding:10px;
  font-family:calibri;
}


.otherUserBox textarea:focus{
  box-shadow: 0px 0px 5px 0px rgba(135,135,135,1);
}

.otherUserBox button{
  margin-top:10px;
  width:95%;
  background:#0099cc;
  padding:15px;
  border:none;
  outline:none;
  color:#fff;
  font-weight:bold;
  border-radius:5px; 
  cursor:pointer;
}

.otherUserBox button:focus{
  background:#027398;
  box-shadow: 0px 0px 5px 0px rgba(135,135,135,1);
}

.coverBox{
  float:left;
  width:70%;
  height:100vh;
  background:url('./cover1.jpg');
  background-repeat:no-repeat;
  background-size:cover;
}
  
